{% extends 'base.html' %}

{% block content %}
<header>
<style>

</style>
</header>
<br/>
<center><h1>Featured Blog Posts</h1></center>
	<div class="row">
	{%for post in object_list %}
	    <div class="col-sm-4">
		  <div class="card" style="min-width: 16rem; padding: 15px; margin: 5px">
			 <div class="card-body">
			    <center><h5 style="color: red; font-size: 30px">{{ post.title }}</h5></center>
			    <center><i><h10 class="card-subtitle mb-2 text-muted">Written by {{ post.author.first_name }} {{ post.author.last_name }}</h10><h30 style="color:lightgray; font-size: 12px"> Published: {{ post.pub_date }}</i></h30><br/>
			    <a href="{% url 'postDetails' post.pk %}" style="color: red; font-size: 10px" >View here</a></center>
			 </div>
		  </div> 
		  <br/>

		</div>
	{% endfor %}
	</div>
<!-- - {{ post.author.first_name }} {{ post.author.last_name }}<br/>
	{{ post.author.email }}<br/>
	{{ post.body }} -->



{% endblock %}